*{
    box-sizing: border-box;
}

:root{
    --heading-color: #0D1111;
    --blue-btn: #1EBFC1;
    --blue-background: #DEF6F5;
}

html, body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
/* Common */
.main-content{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.desc{
    color: #9DA6A5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px; 
}

.sub-desc{
    color: #9DA6A5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 27px;
}

.btn-started{
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: var(--blue-btn);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btn-started:hover{
    opacity: 0.9;
}

.summary-text{
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.title{
    color: #767E7E;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heading-lv2{
    color: #0D1111;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
}

.heading-lv3{
    color: #2E2E2E;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mt-6{
    margin-top: 6px;
}

.mt-16{
    margin-top: 16px;
}

.mt-18{
    margin-top: 18px;
}

.mt-19{
    margin-top: 19px;
}

.small-desc{
    color: #9DA6A5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp,1);
    overflow: hidden;
}
/* Header */
.header{
    background-color: #fff;
    padding: 60px 0 8px;
    z-index: 1;
}

.header.fixed{
    position: sticky;
    top: -52px;
}

.header .body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar ul{
    display: flex;
    align-items: center;
}

.header .navbar a{
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 19.5px;
    text-decoration: none;
}

.header li.active a{
    color: #2F3A3B;
    text-shadow: 1px 0 0 currentColor;
}

.btn-signup{
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid var(--blue-btn);
    color: var(--blue-btn);
    background-color: #fff;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.btn-signup:hover{
    opacity: 0.9;
}

.btn-signin{
    height: 48px;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 24px;
}

.btn-signin:hover{
    opacity: 0.9;
}

/* Hero */
.hero{
    padding: 42px 0 79px;
}

.hero .body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .images{
    width: 576px;
    height: 631px;
}

.hero .heading{
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 72px;
    margin-top: 18px;
}

.hero .introduce{
    color: #767E7E;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .content-block{
    width: 458px;
}

.hero .desc{
    width: 374px;
    margin: 46px 0 52px;
}

.hero .actions{
    display: flex;
    gap: 50px;
    align-items: center;
}

.hero .btn-play{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
}

.hero .media-block{
    position: relative;
    background-color: var(--blue-background);
}

.hero .courses-summary{
    width: 157px;
    height: 75px;
    position: absolute;
    top: 149px;
    left: -43px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 17px 25px 18px;
    border-radius: 18px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .courses-summary .summary-text{
    margin-left: 16px;
}

.hero .schedules-summary{
    position: absolute;
    bottom: 46px;
    left: -62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .schedules-summary .summary-text{
    margin: 16px 0;
}

.hero .students-summary{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    padding-left: 35px;
}

.hero .students-summary .avatars{
    display: flex;
    margin-top: 8px;
}

.hero .students-summary .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -7px;
    background-color: var(--backgroud-avatar, #DEF6F5);
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
}

.hero .students-summary .avatars:first-child{
    margin-left: 0;
}

.features{
    width: 1024px;
    margin-top: 130px;
    padding-left: calc((100% - 1170px)/2);
}

.features-top{
    width: 57%;
}

.feature-list{
    margin-top: 80px;
    display: flex;
}

.feature-item{
    display: inline-block;
}

.feature-item strong{
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
}

.feature-item:first-child{
    width: 36.8%;
}

.feature-item:first-child .sub-desc{
    display: inline-block;
    width: 168px;
}

.feature-item:nth-child(2){
    width: 41.3%;
}

.feature-item:nth-child(2) .sub-desc{
    display: inline-block;
    width: 223px;
}

.feature-item:nth-child(3) .sub-desc{
    display: inline-block;
    width: 224px;
}

.feature-item .info{
    margin-top: 26px;
}

.feature-item .sub-desc{
    margin-top: 16px;
}

.popular{
    margin-top: 130px;
}

.popular .popular-list{
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.popular-item{
    width: calc((100% - 47px * 2)/3) ;
    position: relative;
}

.popular-top .desc{
    width: 525px;
}

.popular-top .detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .detail .view-detail{
    color: var(--blue-btn);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.popular-item .image{
    width: 359px;
    height: 393px;
    border-radius: 8px;
    opacity: 0.8;
    background: #D0EFED;
    object-fit: cover;
    vertical-align: bottom;
}

.popular-item .info{
    position: absolute;
    bottom: -124px;
    left: 17px;
    right: 17px;
    width: 325px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 0 0 25px;
    height: 195px;
}

.popular-item .info .detail{
    display: flex;
    gap: 10px;
}

.popular-item a{
    text-decoration: none;
}

.popular-item .title-course{
    color: #0D1111;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.popular-item .detail .small-desc{
    display: flex;
    align-items: center;
}

.popular-item .detail .small-desc::before{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--blue-btn);
    margin-right: 10px;
}

.statistic{
    margin-top: 265px;
}

.statistic .main-content{
    width: 862px;
}

.statistic .body{
    display: flex;
}

.statistic-item:first-child{
    width: 40%
}

.statistic-item:nth-child(2){
    width: 42%
}

.statistic-item:nth-child(3){
    width: 18%;
}

.statistic-item .desc{
    width: 50%;
}

.statistic-item:nth-child(3) .desc{
    width: 100%;
}

.statistic-item .number{
    color: #0D1111;
    text-align: center;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.feedback{
    margin-top: 264px;
}

.feedback .body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback .media-block{
    width: 58%;
}

.feedback .media-block img{
    vertical-align: bottom;
}

.feedback .content{
    width: 36%;
}

.feedback .content .msg{
    margin-top: 27px;
    color: #5D6564;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}

.feedback .quote{
    margin-top: 33px;
    color: #767E7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feedback .quote strong{
    color: #070707;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.feedback .actions{
    display: flex;
    gap: 28px;
}

.feedback .actions .control-btn{
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2AC9BF;
    border: none;
    cursor: pointer;
}

.feedback .actions .control-btn:hover{
    opacity: 0.9;
}

.guides{
    margin-top: 130px;
    background-color: var(--blue-background);
    padding: 76px 0 88px;
}

.guides .body{
    display: flex;
    align-items: center;
    gap: 400px;
}

.guide-info{
    width: 36%;
}

.guide-info .desc{
    margin-top: 18px;
    color: #767E7E;
    line-height: normal;
}

.guide-title{
    color: #070707;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer{
    padding-top: 131px;
}

.footer .row{
    display: flex;
}

.footer .copy-right{
    padding: 80px 0 50px;
    text-align: center;
    color: #B0B5B4;
}

.footer .column:first-child{
    width: 20%;
}

.footer .column:nth-child(2){
    width: 20%;
}

.footer .column:nth-child(3){
    width: 22%;
}

.footer .column:nth-child(4){
    width: 25%;
}

.footer .column:nth-child(5){
    width: 13%;
}

.footer .list{
    margin-top: 25px;
}

.footer .list .image{
    padding: 6px;
    cursor: pointer;
}

.footer .list .image:hover{
    opacity: 0.8;
}

.footer li{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer li a{
    color: #535353;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.footer .





